body {
	padding:0;
	margin:0;
	max-width: 100%;

}

.container  {
	margin:auto;
	overflow:hidden;
	max-width: 80rem;
}

h2 {
	font:200 40px 'Cinzel Decorative', cursive;
}

header {
	background:#c2d4d8;
	width:100%;
	position:fixed;
	/* opacity start*/
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
		/* opacity end*/

}
#logobrand img  {
	float:left;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 0;
  max-width:45%;

}
#logobrand1 img  {
    visibility: hidden;
    display: none;
}

header a {
	text-decoration:none;
	color: #173e43;
	font:19px 'Open Sans', sans-serif;
	padding: 0 8px 0 8px;
	text-transform: uppercase;
}

header ul {
	float:right;
	margin-top:23px;
	padding:0;
}

header li {
	display:inline;
	list-style:none;
}
header ul li a:hover {
	color: green;
}

.toggle {
    width: 50px;
    margin-top: 10px;
    padding:5px 10px;
    float: right;
    background: #9ad3de;
    text-align: center;
    box-sizing: border-box;
    font-size:30px;
    display: none;
		margin-right: 10px;
}

nav {
	margin:auto 0;
  display: right;
}

#banner {
	background:url("../img/bg.jpg") no-repeat 0 -530px;
	background-attachment: scroll;
	background-position: 50%;
	background-size:cover;
    min-height:100vh;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}
.bancon {
	text-align:center;
	float:left;
	margin-top:560px;

}
.bancon h4 {
	font:150 30px 'Gugi', cursive;
	color:#3fb0ac;
	border:2px solid #ffff;
	border-radius:5px;
	background:#98dafc;
	padding-right:5px;
	padding-left:5px;
}

#welcome {
	padding:0;
	background:#21b2a6;
	height:350px;
}
#welcome h2 {
	padding-top:50px;
	font:200 35px 'Cinzel Decorative', cursive;
	text-align:center;
	color:#c7ebe8;


}
#welcome p {
	font:19px 'Open Sans', sans-serif;
	text-align:center;
	margin:5px 80px 10px 80px;
	padding-top:5px;
	padding-bottom:20px;
	line-height:30px;
	color:#c7ebe8;
}

.button_1 {
	 background: radial-gradient(ellipse at center, rgba(255,0,132,1) 0%, rgba(171,12,109,1) 94%, rgba(166,13,107,1) 100%);
	 border-radius: 5px;
 	 border: 1px solid #C06;
	 font:13px/1.5 Merriweather Sans, sans-serif;
	 margin-top:15px;
	 margin-left:5px;
	 padding:10px 14px 10px 14px;
	 text-transform:uppercase;
	 color:#ffffff;
	 cursor:pointer;
}
#welcome .button_1 { /*para mag center yung button */
	display: block;
	margin: 0 auto;
}

#news {
	margin:0;
	padding:0;
	text-align:center;

}
#news h2 {
	padding-top:50px;
	font:200 35px 'Cinzel Decorative', cursive;
	text-align:center;
	color:#000;
}

.newcon {
	margin-top:10px;
	float:left;
	display:block;
	text-align:center;
	width:40%;
	padding:15px;
	text-align:justify;
	margin-left:50px;

}
.newcon img {
	height:100px;
	width:100px;
	float:left;
	margin-right:5px;
}
.newcon h3 {
	font:30px 'Oswald', sans-serif;
	text-align:center;
	color:#000;
}
.newcon .button {
	display: block;
	margin: 0 auto;
}
.newcon p {
	font:19px 'Open Sans', sans-serif;
	padding-left:5px;
}
/*Video */

#vid {
	background-image:url(../img/bg1.jpg);
	font:200 25px 'Cinzel Decorative', cursive;
	text-align:center;
	color:#000;
	height:638px;

}
#vid .button_1 {
	display: block;
	margin: 0 auto;
}
/*end Video */

#facts {
	margin:0;
	padding:0;
	text-align:center;
}
#facts {
	margin:0;
	padding:0;
	text-align:center;
}

#facts {
	padding-top:50px;
}
.leftpane {
	border-collapse:collapse;
}
.leftpane1 {
	float:left;
	display:block;
	width:33%;
}

.leftpane1 img {
	height:350px;
	width:298px;

}
.leftpane h3 {
	font:30px 'Oswald', sans-serif;
	color:#000;
}
.leftpane p {
	font:15px 'Open Sans', sans-serif;
}

.foot {
	margin:0;
	background:#89bdd3;
	width:100%;
	height:100%;
	text-align:center;
}

.foot p {
	font:15px 'Open Sans', sans-serif;
	padding-top:40px;
	padding-bottom:10px;
}
.footimage {
	display:inline;
	margin:0;

}
.footimage img{
	height:35px;
	width:35px;
	padding-bottom:10px;
	cursor:pointer;
}



/* Media query start */




@media(max-width:1236px){
    .toggle {
        display: block;
        cursor: pointer;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }

}

@media(max-width:1236px){
    .toggle {
        display: block;
        cursor: pointer;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }

}
@media(max-width:1185px){
    #logobrand img {
        width:45%;
    }


    .toggle {
        display: block;
        cursor: pointer;
          margin-top: 10px;
        margin-bottom: 10px;
        padding:5px 10px;

    }
}


@media(max-width:1177px){
    .toggle {
        display: block;
        cursor: pointer;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }
     .leftpane1 img {
        height:320px;
            width:270px;
}
}

@media(min-width:1172px) {
    #logobrand img {
        width:400px;
    }
}
@media(max-width:1164px) {
     #logobrand img {
        width:400px;

    }
}
@media(max-width:1157px) {
#logobrand img {
        width:400px;
    }

}

@media(max-width:1153px) {
#logobrand img {
        width:400px;
    }

}
@media(max-width:1144px) {
     #logobrand img {
        width:45%;

    }
}

@media(max-width:1236px){
    .toggle {
        display: block;
        cursor: pointer;
          margin-top: 10px;
        margin-bottom: 10px;
        padding:5px 10px;

    }
     #welcome {
        height: 100%;
    }
    #welcome .button_1 {
        margin-top:5px;
        margin-bottom:20px;
    }
}
@media(max-width:320px) {
    #logobrand img {
        display: none;
        visibility: hidden;
    }

     #logobrand1 img {
        visibility: visible;
         display:block;
         float: left;
         margin-top:15px;
    }
    #welcome {
		height:100%;

	}
	#welcome h2 {
		text-align:center;
		padding-top:15px;
	}
	#welcome p {
		text-align:center;
		float:none;
		display:block;
		width:100%;
		margin:0;
		overflow:hidden;
	}
	#welcome .button_1 {
		margin-bottom: 5px;
	}

    #news {
       margin:0;
    padding: 0;


    }
    #news h2{
		padding-top:30px;

	}
	#news .newcon {
	  float: none;
    margin-left: 0;
        width:90%;


	}
	.newcon img {
		visibility:hidden;
		display:none;
	}
	.newcon h3{
		padding-top:5px;
         text-align: justify;
	}
	.newcon p{
          text-align: justify;
		margin: 0;
        padding: 0;
        letter-spacing: 0;
	}
    #vid {
        height: 100%;
    }
    #vid .button_1 {
        margin-top:5px;
        margin-bottom:10px;
    }
}

@media(max-width:770px) {
    #logobrand img {
        display: none;
        visibility: hidden;
    }

     #logobrand1 img {
        visibility: visible;
         display:block;
         float: left;
         margin-top:15px;
    }
    #welcome {
		height:100%;

	}
	#welcome h2 {
		text-align:center;
		padding-top:15px;
	}
	#welcome p {
		text-align:center;
		float:none;
		display:block;
		width:100%;
		margin:0;
		overflow:hidden;
	}
	#welcome .button_1 {
		margin-bottom: 5px;
	}

    #news {
       margin:0;
    padding: 0;


    }
    #news h2{
		padding-top:30px;

	}
	#news .newcon {
	  float: none;
    margin-left: 0;
        width:90%;


	}
	.newcon img {
		visibility:hidden;
		display:none;
	}
	.newcon h3{
		padding-top:5px;
         text-align: justify;
	}
	.newcon p{
          text-align: justify;
		margin: 0;
        padding: 0;
        letter-spacing: 0;
	}
    #vid {
        height: 100%;
    }
    #vid .button_1 {
        margin-top:5px;
        margin-bottom:10px;
    }
}

@media(max-width:784px) {
    #logobrand img {
        display: none;
        visibility: hidden;
    }

     #logobrand1 img {
        visibility: visible;
         display:block;
         float: left;
         margin-top:15px;
    }
    #welcome {
		height:100%;

	}
	#welcome h2 {
		text-align:center;
		padding-top:15px;
	}
	#welcome p {
		text-align:center;
		float:none;
		display:block;
		width:100%;
		margin:0;
		overflow:hidden;
	}
	#welcome .button_1 {
		margin-bottom: 5px;
	}

    #news {
       margin:0;
    padding: 0;


    }
    #news h2{
		padding-top:30px;

	}
	#news .newcon {
	  float: none;
    margin-left: 0;
        width:90%;


	}
	.newcon img {
		visibility:hidden;
		display:none;
	}
	.newcon h3{
		padding-top:5px;
         text-align: justify;
	}
	.newcon p{
          text-align: justify;
		margin: 0;
        padding: 0;
        letter-spacing: 0;
	}
    #vid {
        height: 100%;
    }
    #vid .button_1 {
        margin-top:5px;
        margin-bottom:10px;
    }
}

@media(max-width:1055px) {
    #logobrand img {
        display: none;
        visibility: hidden;
    }

     #logobrand1 img {
        visibility: visible;
         display:block;
         float: left;
         margin-top:15px;
    }
}

  @media(max-width:1231px){
    .toggle {
        display: block;
        cursor: pointer;
          margin-top: 10px;
        margin-bottom: 10px;
        padding:5px 10px;

    }
     #welcome {
        height: 100%;
    }
    #welcome .button_1 {
        margin-top:5px;
        margin-bottom:20px;
    }


}


@media(max-width:1129px){
    .toggle {
        display: block;
        cursor: pointer;
          margin-top: 10px;
        margin-bottom: 10px;
        padding:5px 10px;

    }
     #welcome {
        height: 100%;
    }
    #welcome .button_1 {
        margin-top:5px;
        margin-bottom:20px;
    }


}
@media(max-width:1124px){
    #welcome {
        height: 100%;
    }
    #logobrand img {
        width:50%;

    }
    #welcome .button_1 {
        margin-top:5px;
        margin-bottom:20px;
    }


}

@media(max-width:1120px){
    #welcome {
        height: 100%;
    }
    #welcome .button_1 {
        margin-top:5px;
        margin-bottom:20px;
    }


}

@media(max-width:1114px){
    #welcome {
        height: 100%;
    }
    #welcome .button_1 {
        margin-top:10px;
        margin-bottom:20px;
    }
     #logobrand img {
        width:400px;
    }

}
@media(min-width:1135px) {
    #logobrand img {
        width:400px;
    }
}
@media(min-width:1100px) {
    #logobrand img {
        width:400px;
    }
}
@media(max-width:1089px) {
    #logobrand img {
        width:400px;
    }
}

@media(max-width:1095px){
    #logobrand img {
        width:400px%;
    }
}


@media(max-width:1008px){
    #logobrand img {
        width:50%;
    }

    .newcon {
	margin-top:10px;
	float:left;
	display:block;
	text-align:center;
	width:37%;
	padding:15px;
	text-align:justify;
	margin-left:50px;
    }
         }

     @media(max-width:1045px){
    .toggle {
        display: block;
        cursor: pointer;
          margin-top: 10px;
        margin-bottom: 10px;
        padding:5px 10px;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }

    @media(max-width:1036px){
    .toggle {
        display: block;
        cursor: pointer;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }
     .leftpane1 img {
        height:300px;
            width:240px;
}
         }


@media(max-width:962px){
    .toggle {
        display: block;
        cursor: pointer;

    }
    ul {
        width: 90%;
        display: none;

    }
    ul li {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left
    }
    .active a {
        display: block;
    }
    .leftpane1 {
        float: none;
        display: block;
        width: 100%;
    }


     .leftpane1 img {
        height:300px;
            width:240px;
}
         }

@media(max-width:958px){
    #logobrand img {
      width:50%;
    }

    .newcon {
			margin-top:10px;
			float:left;
			display:block;
			text-align:center;
			width:37%;
			padding:15px;
			text-align:justify;
			margin-left:50px;
    }
         }
